body {
    font-family: Tahoma;
    margin: 0;
    background-color: #e5e5e5;
}


.header {
    min-width: 100%;
    background-image: url("img/naoh-cova-v4AOxmEeZP8-unsplash.jpg");
    height: 80vh;
    background-repeat: no-repeat;
    margin-bottom: 10vh;

}
.top-button{
    text-align: right;
}
.top-button button {
    width: 7%;
    margin: 10px;
    border-radius: 10%;
    border-style: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

.text {
    text-align: center;
    padding-top: 100px;
    color: azure;


}

.text div {
    margin: 15px;
}

.text button {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin: 20px;
    cursor: pointer;
}

.main-text {
    font-size: 45px;
}

.bot-text {
    font-size: 15px;
}

.firs-bt {
    background-color: white;
    color: #707b7d;

}

.second_bt {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px rgb(255 255 255 / 50%);
    color: #fff;

}

.info {
    height: 60vh;
    text-align: center;
    margin-bottom: 10vh;


}

.block {
    background-color: white;
    border-radius: 1%;

}

main {
    width: 80%;
    margin: 0 auto;

}

.main-info {

    height: 80px;
    width: 90%;
    margin: 0 auto;
    padding: 40px;
    font-size: 30px;


}

main p {
    display: inline-block;
    border-top: solid 2px #e5e5e5;
    color: #777;
    margin: 4vh 0 0 0;
    padding: 1.5em 0 0 0;
    font-style: normal;
}

.bottom-info {
    width: 60%;
}

.block img {
    width: 100%;
    height: auto;
    padding-top: 60px;
    border-radius: 0 0 6px 6px;
    margin: 0px;
}

[class^="box-"] {
    background-color: white;
    display: grid;
    place-items: center;
}

.container {
    margin-top: 25%;
    display: grid;
    gap: 20px;
    height: 100vh;
    width: 100%;
    border-radius: 1%;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    text-align: center;
    margin-bottom: 15%;


}
.container div{
    padding: 20px;
}
.container img{

}

.article {

    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    height: 50vh;
    margin-bottom: 25%;
}

.article img {
    width: 100%;
    border-radius: 1%;
}
.article div{
    text-align: center;
}
.bt {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px rgb(180 34 34 / 50%);
    color: #957272;
}

.article button {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin: 20px;
    cursor: pointer;
}
.article h2{
    margin: 10%;
}

footer {
    text-align: center;
    width: 100%;
    margin-bottom: 0;

}

.form {
    color: white;
    text-align: center;
    margin-top: 15%;
    height: 200px;
    background-color: #e27f5a;
}

.form-header {
    padding-top: 60px;
    margin: 20px;
    font-size: 25px;
}

.form-email {
    margin: 20px;
    border-radius: 10px;
    border-style: none;
    height: 30px;
}

.form button {
    margin: 20px;
    border-radius: 10px;
    border-style: none;
    height: 30px;
    cursor: pointer;
}

.btn_red img {
    text-align: center;
    height: 40px;
    width: 40px;

}
.article-text{
    padding: 40px;
}
